/** VARIABLES */
$clr-red: #ac2626;
$clr-green: #56d756;
$clr-cyan: #00ffff;

$size-small: 0.5rem;
$size-medium: 1rem;
$size-large: 1.5rem;
$size-xlarge: 2rem;

* {
    box-sizing: border-box;
}

html {
    background-color: #222 !important;

    body {
        margin: 0;
    }

    .iu {
        font-family: system-ui;

        .overlay {
            background-color: #222;
            color: #fff;
            height: 100%;
        }

        header {
            &.app-header {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                justify-content: space-between;
                height: 4rem;
                background-color: #333;
                z-index: 1;
                @extend .flex;
                @extend .align-center;
                @extend .p-medium;
            }

            .logo {
                font-family: monospace;
                cursor: pointer;
                @extend .fs-large;
            }
        }

        aside {
            &.app-sidebar {
                position: sticky;
                top: 0;
                height: 100vh;
                background-color: #111;
                border-inline-end: 1px solid gray;
                @extend .flex;
                @extend .column;
                @extend .p-large;
                @extend .fs-large;
                @extend .with-app-header;
            }
        }

        label {
            cursor: pointer;
        }

        input[type='checkbox'] {
            height: 1.1rem;
            width: 1.1rem;
        }

        a {
            color: inherit;
            text-decoration-color: transparent;
            transition: text-decoration-color 0.1s;
            cursor: pointer;

            &:hover {
                text-decoration-color: inherit;
            }
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
            @extend .p-clear;

            &.copy-list {
                color: white;
                @extend .fs-medium;
            }

            &.run-scan {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 2em;
                color: white;
                border: 1px solid white;
                height: 160px;
                width: 160px;
                border-radius: 50%;
            }

            &.unfollow {
                margin-bottom: $size-large;
                background-color: $clr-red !important;
                @extend .badge;
                @extend .fs-large;
                @extend .clr-inherit;
            }
        }

        .progressbar {
            &-container {
                height: 40px;
                border-radius: 8px;
                position: relative;
                border: 1px solid #7b7777;
            }

            &-bar {
                width: 0;
                height: 100%;
                border-radius: inherit;
                background-color: #7b7777;
                &-finished {
                    height: 100%;
                    border-radius: inherit;
                    background-color: #59a942;
                }
            }

            &-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .results-container,
        .unfollow-log-container {
            @extend .grow;
            @extend .with-app-header;
        }

        .results-container {
            .alphabet-character {
                border-bottom: 1px solid #333;
                @extend .m-medium;
                @extend .p-medium;
                @extend .fs-xlarge;
            }

            .result-item {
                border-radius: 3px;
                cursor: pointer;
                @extend .flex;
                @extend .align-center;
                @extend .p-medium;

                .avatar {
                    width: 75px;
                    border-radius: 50%;
                }

                .verified-badge {
                    background-color: #49adf4;
                    border-radius: 50%;
                    padding: 0.2rem 0.3rem;
                    font-size: 0.45em;
                    height: fit-content;
                    transform: translateY(-15px);
                }

                .private-indicator {
                    border: 2px solid #51bb42;
                    border-radius: 25px;
                    color: #51bb42;
                    font-weight: 500;
                    @extend .p-small;
                }
            }
        }

        .unfollow-log-container {
            @extend .p-medium;
        }

        .toast {
            position: fixed;
            bottom: $size-medium;
            left: $size-medium;
            color: black;
            background-color: #fff;
            border-radius: 6px;
            font-size: 1.25em;
            z-index: 2;
            @extend .p-xlarge;
        }

        .badge {
            background: #333;
            border-radius: 15px;
            @extend .p-medium;
        }
    }
}

/** HELPERS */
// layout
.with-app-header {
    padding-top: 4rem !important;
}

// flex
.flex {
    display: flex;

    &.align-center {
        align-items: center;
    }

    &.justify-center {
        justify-content: center;
    }

    &.column {
        flex-direction: column;
    }
}

.grow {
    flex: 1;
}

// width
.w {
    &-100 {
        width: 100%;
    }
}

// padding
.p {
    &-small {
        padding: $size-small;
    }

    &-medium {
        padding: $size-medium;
    }

    &-large {
        padding: $size-large;
    }

    &-xlarge {
        padding: $size-xlarge;
    }

    &-clear {
        padding: 0;
    }
}

// margin
.m {
    &-small {
        margin: $size-small;
    }

    &-medium {
        margin: $size-medium;
    }

    &-large {
        margin: $size-large;
    }

    &-xlarge {
        margin: $size-xlarge;
    }

    &-clear {
        margin: 0;
    }
}

// font-size
.fs {
    &-small {
        font-size: $size-small;
    }

    &-medium {
        font-size: $size-medium;
    }

    &-large {
        font-size: $size-large;
    }

    &-xlarge {
        font-size: $size-xlarge;
    }
}

// colors
.clr {
    &-inherit {
        color: inherit;
    }

    &-red {
        color: $clr-red;
    }

    &-green {
        color: $clr-green;
    }

    &-cyan {
        color: $clr-cyan;
    }
}

// display
.d {
    &-none {
        display: none;
    }
}

// text
.t {
    &-center {
        text-align: center;
    }
}
