html {
    background-color: #222 !important;

    .iu {
        // Add bottom spacing due to bottom-bar covering other elements.
        margin-bottom: 10rem;
        font-family: system-ui;

        .overlay {
            background-color: #222;
            color: #fff;
            height: 100%;
        }

        header {
            &.top-bar {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                height: 2.5rem;
                background-color: #333;
                z-index: 1;
            }

            .logo {
                font-family: monospace;
                font-size: 1.5em;
                cursor: pointer;
            }
        }

        footer {
            &.bottom-bar {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                background-color: #000;
                font-weight: bold;
                z-index: 1;
            }
        }

        label {
            cursor: pointer;
        }

        input[type='checkbox'] {
            height: 1.1rem;
            width: 1.1rem;
        }

        a {
            color: inherit;
            text-decoration-color: transparent;
            transition: text-decoration-color 0.1s;
            cursor: pointer;

            &:hover {
                text-decoration-color: inherit;
            }
        }

        button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;

            &.copy-list {
                color: white;
                font-size: 1rem;
            }

            &.run-scan {
                position: absolute;
                left: 25%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 2em;
                color: white;
                border: 1px solid white;
                height: 160px;
                width: 38vw;
                padding: 2vw;
                border-radius: 100vw;
            }

            &.run-download-followers {
                position: absolute;
                left: 75%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 2em;
                color: white;
                border: 1px solid white;
                height: 160px;
                width: 38vw;
                padding: 2vw;
                border-radius: 100vw;
            }

            &.run-scan:hover, &.run-download-followers:hover {
                color: black;
                background-color: rgb(244, 244, 244);
            }

            &.run-scan:active, &.run-download-followers:active {
                color: black;
                background-color: rgb(244, 244, 244);
                opacity: 0.7;
            }

            
        }

        .progressbar {
            &-container {
                width: 175px;
                height: 30px;
                border-radius: 5px;
                position: relative;
                border: 1px solid #7b7777;
            }

            &-bar {
                width: 0;
                height: 100%;
                background-color: #7b7777;
            }

            &-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .results-container {
            transform: translateY(75px);

            .alphabet-character {
                margin: 1rem;
                padding: 1rem;
                font-size: 2em;
                border-bottom: 1px solid #333;
            }

            .result-item {
                display: flex;
                align-items: center;
                padding: 1rem;
                border-radius: 3px;
                cursor: pointer;

                .avatar {
                    width: 75px;
                    border-radius: 50%;
                }

                .verified-badge {
                    background-color: #49adf4;
                    border-radius: 50%;
                    padding: 0.2rem 0.3rem;
                    font-size: 0.45em;
                    height: fit-content;
                    transform: translateY(-15px);
                }

                .private-indicator {
                    border: 2px solid #51bb42;
                    border-radius: 25px;
                    padding: 0.5rem;
                    color: #51bb42;
                    font-weight: 500;
                }
            }
        }
    }

    .toast {
        position: fixed;
        bottom: 5rem;
        color: black;
        background-color: #fff;
        border-radius: 6px;
        font-size: 1.25em;
        padding: 2rem;
        transition: transform 0.2s;
        z-index: 2;

        &-hidden {
            transform: translateX(-999rem);
        }
    }
}

/** HELPERS */
// flex
.flex {
    display: flex;

    &.align-center {
        align-items: center;
    }

    &.justify-center {
        justify-content: center;
    }

    &.column {
        flex-direction: column;
    }
}

.grow {
    flex: 1;
}

// width
.w {
    &-100 {
        width: 100%;
    }
}

// padding
.p {
    &-small {
        padding: 0.5rem;
    }

    &-medium {
        padding: 1rem;
    }

    &-large {
        padding: 1.5rem;
    }

    &-xlarge {
        padding: 2rem;
    }
}

// font-size
.fs {
    &-small {
        font-size: 0.5rem;
    }

    &-medium {
        font-size: 1rem;
    }

    &-large {
        font-size: 1.5rem;
    }

    &-xlarge {
        font-size: 2rem;
    }
}

// colors
.clr {
    &-inherit {
        color: inherit;
    }

    &-red {
        color: #bd2121;
    }

    &-green {
        color: #56d756;
    }

    &-cyan {
        color: #00ffff;
    }
}

// display
.d {
    &-none {
        display: none;
    }
}
